h1{
    color:blue;
}
 .first{
    color:beige;
 }
 .second{
    color:aquamarine;
 }
 .box{
    width:200px;
    height:100px;
   /* color:blueviolet;
    margin:100px;
    padding:50px;
    border-style:dashed;*/
    border:2px dashed  blueviolet;
    display:flex;
    justify-content: center;

 }

 